html :is(*, *::before, *::after) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scrollbar-color: var(--gray-clr) var(--white-clr);
    scrollbar-width: thin;
}

:root {
    /* app-color */
    --bg-clr: #EEEEEE;
    --black-clr: #121212;
    --gray-clr: #757575;
    --white-clr: #ffffff;
    --blue-clr: #3a82ee;
    --pink-clr: #EA40A4;
    --orange-clr: #ff5b57;
    --green-clr: #90ee90;
    --green-clr-hover: #a8f4a8;
    --pink-clr-hover: #EB6CB7;
    --orange-clr-hover: #FF8481;
    --blue-clr-hover: #3a82eecc;

    /* transition */
    --trans3s: 300ms ease;
    --trans5s: 500ms ease;

    /* message */
    --mess: "ADD TASKS";
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white-clr);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-clr);
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.radius {
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.radius50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.radius3PX {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

img {
    user-select: none;
    width: 100%;
    height: 100%;
}

.icon {
    width: 15px;
}

body {
    font-family: sans-serif;
    color: var(--gray-clr);
    background-color: var(--bg-clr);
    padding: 3em 2em;
    min-height: 100vh;
    position: relative;
}

/* header */
header {
    padding: 1em 2em;
    background-color: var(--white-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header.header-act {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding-inline: 3em;
}

/* profile */
.profile {
    display: flex;
    align-items: center;
    gap: 1em;
}

.img-profile-radius,
.change-img-radius {
    border: 3px solid var(--gray-clr);
}

.img-profile {
    width: 55px;
    height: 55px;
    background-color: var(--bg-clr);
    overflow: hidden;
    position: relative;
}

.name-profile h3 {
    color: var(--black-clr);
    font-size: clamp(16px, 2vw, 18.72px);
}

/* setting */
.setting {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.setting img {
    width: 100%;
    animation: setting 5s linear infinite;
    -webkit-animation: setting 5s linear infinite;
}

@keyframes setting {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

.setting img:hover {
    animation: setting forwards;
    -webkit-animation: setting forwards;
}

.setting img:active {
    scale: 1.3;
}

/* open-setting */
dialog {
    width: 500px;
    height: 410px;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border: 0;
    background-color: var(--white-clr);
    color: inherit;
    scrollbar-width: none;
    z-index: 150;
}

.dialog-container {
    padding: 2em;
    width: 100%;
}

dialog::-webkit-scrollbar {
    width: 0;
}

dialog[open] {
    animation: fade-in 500ms ease-in forwards;
    -webkit-animation: fade-in 500ms ease-in forwards;
    opacity: 1;
}

dialog[closing] {
    display: block;
    animation: fade-out 500ms ease-out forwards;
    -webkit-animation: fade-out 500ms ease-out forwards;
}

dialog::backdrop {
    background-color: rgb(0 0 0/50%);
    animation: backOpa-in 500ms ease forwards;
    -webkit-animation: backOpa-in 500ms ease forwards;
}

dialog[closing]::backdrop {
    animation: backOpa-out 500ms ease-out forwards;
    -webkit-animation: backOpa-out 500ms ease-out forwards;
}

@keyframes fade-in {
    from {
        top: 100%;
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        top: 100%;
        opacity: 0;
    }
}

@keyframes backOpa-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes backOpa-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.setting-close {
    width: 20px;
    right: 2em;
    position: absolute;
    cursor: pointer;
}

/* change-img-profile */
.change-img-profile {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 3em;
}

.change-img {
    width: 150px;
    height: 150px;
    background-color: var(--bg-clr);
    overflow: hidden;
}

.btns {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

.btn-porofile {
    border: 2px solid var(--gray-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: var(--black-clr);
}

.btn-upload-img {
    margin-bottom: 1em;
    border: none;
    background-color: var(--blue-clr);
    color: var(--white-clr);
    position: relative;
    isolation: isolate;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.btn-upload-img::before {
    content: "";
    position: absolute;
    left: var(--X);
    top: var(--Y);
    width: 80px;
    aspect-ratio: 1/1;
    background-color: rgba(187, 176, 176, 0.662);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
    translate: -50% -50%;
    scale: 0;
    transition: scale translate var(--trans3s);
    -webkit-transition: scale translate var(--trans3s);
    -moz-transition: scale translate var(--trans3s);
    -ms-transition: scale translate var(--trans3s);
    -o-transition: scale translate var(--trans3s);
}

.btn-upload-img.act-animation-btn::before {
    animation: btnUpAnimation 500ms ease forwards;
    -webkit-animation: btnUpAnimation 500ms ease forwards;
}

@keyframes btnUpAnimation {
    to {
        translate: -50% -50%;
        scale: 1;
    }
}

dialog p {
    text-align: center;
}

dialog p strong {
    color: var(--pink-clr);
}

.setting-change-user-name {
    display: flex;
    gap: 1em;
    margin-top: 3em;
}

/* input-change-name */
.input-change-name {
    position: relative;
    width: 242px;
    height: 40px;
}

.input-change-name.active-border-line::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    height: 2px;
    background-color: var(--blue-clr);
    animation: border-line 500ms linear forwards;
    -webkit-animation: border-line 500ms linear forwards;
}

@keyframes border-line {
    0% {
        width: 10%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

.input-change-name img {
    width: 20px;
    position: absolute;
    right: 1em;
}

.label-user {
    position: absolute;
    left: 20px;
    top: 50%;
    translate: 0 -50%;
    cursor: text;
    user-select: none;
    font-weight: bold;
    transition: var(--trans3s);
    -webkit-transition: var(--trans3s);
    -moz-transition: var(--trans3s);
    -ms-transition: var(--trans3s);
    -o-transition: var(--trans3s);
}

input[type="text"] {
    padding-inline: 20px 3em;
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 3px solid var(--gray-clr);
    color: var(--black-clr);
}

input[type="text"]:focus + .label-user,
input[type="text"]:not(:placeholder-shown) + .label-user {
    top: 0;
    font-weight: normal;
    color: var(--blue-clr);
}

input[type="text"]::placeholder {
    color: transparent;
}

.btn-change-user-name {
    cursor: pointer;
    height: 40px;
    width: 150px;
    color: var(--white-clr);
    background-color: var(--blue-clr);
    border: 0;
    letter-spacing: 2px;
}

.error-user-name,
.error-max-length,
.name-set,
.error-must,
.error-add-task {
    position: absolute;
    left: 0;
    bottom: -1.5em;
    color: var(--pink-clr);
    opacity: 0;
    transition: var(--trans5s);
    -webkit-transition: var(--trans5s);
    -moz-transition: var(--trans5s);
    -ms-transition: var(--trans5s);
    -o-transition: var(--trans5s);
    font-size: small
}

.error-max-length {
    opacity: 1;
}

.error-user-name.error-act,
.name-set.name-set-act,
.error-must-act,
.error-add-task-act {
    opacity: 1;
}

.name-set {
    color: var(--blue-clr);
}

/* todo-list-category */
.todo-list-category {
    display: flex;
    column-gap: 1em;
    margin-top: 1em;
}

:is(.business, .personal) {
    padding: 1em;
    background-color: var(--white-clr);
    width: 50%;
    aspect-ratio: 6/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

:is(.business p, .personal p) {
    display: flex;
    align-items: center;
    gap: .5em;
    margin-top: 1em;
    color: var(--black-clr);
}

:is(.business p img, .personal p img) {
    width: 20px;
}

input[type="radio"] {
    display: none;
}

.radio-span {
    width: 25px;
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    place-items: center;
}

.business .radio-span {
    border: 3px solid var(--blue-clr);
}

.personal .radio-span {
    border: 3px solid var(--pink-clr);
}

.radio-span::before {
    content: "";
    position: absolute;
    scale: 0;
    display: block;
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--trans3s);
    -webkit-transition: var(--trans3s);
    -moz-transition: var(--trans3s);
    -ms-transition: var(--trans3s);
    -o-transition: var(--trans3s);
}

.business .radio-span::before {
    background-color: var(--blue-clr);
}

.personal .radio-span::before {
    background-color: var(--pink-clr);
}

input[type="radio"]:checked ~ .radio-span::before {
    scale: 1;
}

/* write your todo list and add a task */
.container-write-add {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.write-todo-list {
    width: 70%;
    height: 54px;
    position: relative;
}

.write-todo-list input[type="text"] {
    border: 0;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-inline: 2em;
    font-size: clamp(10px, 3vw, 16px);
}

.write-todo-list input[type="text"]::placeholder {
    color: var(--gray-clr);
}

.write-todo-list img {
    position: absolute;
    width: 20px;
    top: 50%;
    right: 2em;
    translate: 0 -50%;
}

.btn-add-tasks {
    width: 30%;
    height: 54px;
    cursor: pointer;
    background-color: var(--pink-clr);
    color: var(--white-clr);
    font-weight: bold;
    border: 0;
    border-bottom: 4px solid var(--pink-clr-hover);
    letter-spacing: 2px;
    box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
    font-size: 20px;
    transition: var(--trans3s);
    -webkit-transition: var(--trans3s);
    -moz-transition: var(--trans3s);
    -ms-transition: var(--trans3s);
    -o-transition: var(--trans3s);
}

.btn-add-tasks img {
    width: 20px;
}

.btn-add-tasks:active {
    border-bottom: none;
    box-shadow: none;
}

.btn-add-tasks:hover {
    opacity: .9;
}

/* start-todo */
.start-todo {
    color: var(--black-clr);
    font-weight: normal;
    margin-block: 2em .5em;
    letter-spacing: 1.5px;
}

/* add-tasks */
.add-tasks {
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: hidden;
    padding: 1.7em .1em 1.4em;
    background-color: var(--white-clr);
    position: relative;
}

.add-tasks::before {
    content: var(--mess);
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.add-item {
    padding: 1em;
    background-color: var(--white-clr);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: var(--trans3s);
    display: flex;
    align-items: center;
    position: relative;
    gap: 1em;
    border-radius: .5em .5em .5em 0;
    -webkit-border-radius: .5em .5em .5em 0;
    -moz-border-radius: .5em .5em .5em 0;
    -ms-border-radius: .5em .5em .5em 0;
    -o-border-radius: .5em .5em .5em 0;
    translate: 400% 0;
    transition: translate var(--trans5s);
    -webkit-transition: translate var(--trans5s);
    -moz-transition: translate var(--trans5s);
    -ms-transition: translate var(--trans5s);
    -o-transition: translate var(--trans5s);
}

.add-item:nth-child(odd) {
    translate: -400% 0;
}

.add-item.show-task {
    translate: 0;
}

[data-category="business"] {
    box-shadow: 0px 0px 0px 2px var(--blue-clr);

}

[data-category="business"]:hover {
    background-color: var(--blue-clr-hover);
}

[data-category="personal"] {
    box-shadow: 0px 0px 0px 2px var(--pink-clr);
}

[data-category="personal"]:hover {
    background-color: var(--pink-clr-hover);
}

.add-item label {
    position: relative;
    cursor: pointer;
}

.add-item label input[type="checkbox"] {
    display: none;
}

.add-item label span {
    width: 25px;
    height: 25px;
    display: block;
    background-color: var(--white-clr);
    display: grid;
    place-items: center;
}

[data-category="business"] label span {
    border: 2px solid var(--blue-clr);
}

[data-category="personal"] label span {
    border: 2px solid var(--pink-clr);
}

.add-item label span::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    scale: 0;
    transition: var(--trans5s);
    -webkit-transition: var(--trans5s);
    -moz-transition: var(--trans5s);
    -ms-transition: var(--trans5s);
    -o-transition: var(--trans5s);
}

[data-category="business"] label span::before {
    background: url("icons/square-check-solid\ 1.svg") no-repeat;
}

[data-category="personal"] label span::before {
    background: url("icons/square-check-solid\ 2.svg") no-repeat;
}

.add-item label input[type="checkbox"]:checked ~ span::before {
    scale: 1;
    rotate: 360deg;
}

.add-item label input[type="checkbox"]:checked ~ span {
    border: none;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.add-item .input-text {
    color: var(--black-clr);
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 72%;
    font-size: large;
    letter-spacing: 1.5px;
    caret-color: var(--black-clr);
    font-size: clamp(10px, 2vw, 18px);
    cursor: auto;
}

.add-item .input-text.done {
    color: inherit;
    text-decoration: line-through;
}

.buttons-container {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
}

:is(.edit-button, .delete-button) {
    height: 100%;
    width: 50px;
    background-color: var(--green-clr);
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: var(--trans5s);
    -webkit-transition: var(--trans5s);
    -moz-transition: var(--trans5s);
    -ms-transition: var(--trans5s);
    -o-transition: var(--trans5s);
    position: relative;
}

.delete-button {
    background-color: var(--orange-clr);
    border-radius: 0 .5em .5em 0;
    -webkit-border-radius: 0 .5em .5em 0;
    -moz-border-radius: 0 .5em .5em 0;
    -ms-border-radius: 0 .5em .5em 0;
    -o-border-radius: 0 .5em .5em 0;
}

.delete-button::before,
.edit-button::before {
    content: "delete";
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0;
    background-color: var(--white-clr);
    color: var(--black-clr);
    padding: .4em;
    font-size: 9px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 2px solid var(--orange-clr);
    transition: var(--trans3s);
    -webkit-transition: var(--trans3s);
    -moz-transition: var(--trans3s);
    -ms-transition: var(--trans3s);
    -o-transition: var(--trans3s);
    opacity: 0;
}

.edit-button::before {
    content: "edit";
    border-color: var(--green-clr);
}

:is(.edit-button, .delete-button):hover::before {
    top: -3em;
    opacity: 1;
}

.delete-button:hover {
    background-color: var(--orange-clr-hover);
}

.edit-button:hover {
    background-color: var(--green-clr-hover);
}

:is(.edit-button, .delete-button) img {
    width: 25px;
}

:is(.edit-button, .delete-button):active img {
    scale: 1.3;
}

.task-timing {
    position: absolute;
    padding-block: .5em;
    width: 101.5px;
    left: -1.5px;
    bottom: -21.2px;
    font-size: 10px;
    color: var(--white-clr);
    text-align: center;
    border-radius: 0 0 .5em .5em;
    -webkit-border-radius: 0 0 .5em .5em;
    -moz-border-radius: 0 0 .5em .5em;
    -ms-border-radius: 0 0 .5em .5em;
    -o-border-radius: 0 0 .5em .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: var(--trans5s);
    -webkit-transition: var(--trans5s);
    -moz-transition: var(--trans5s);
    -ms-transition: var(--trans5s);
    -o-transition: var(--trans5s);
}

[data-category="business"] .task-timing {
    background-color: var(--blue-clr);
}

[data-category="personal"] .task-timing {
    background-color: var(--pink-clr);
}

.toggle-right {
    position: fixed;
    right: -40px;
    bottom: 0;
    height: 40px;
    width: 40px;
    background-color: var(--white-clr);
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: var(--trans3s);
    -webkit-transition: var(--trans3s);
    -moz-transition: var(--trans3s);
    -ms-transition: var(--trans3s);
    -o-transition: var(--trans3s);
    overflow: hidden;
    padding: .4em;
}

.toggle-right.toggle-right-act {
    right: 1em;
}

.toggle-right.toggle-right-menu {
    height: 40px;
    width: 90px;
}

.toggle-right.toggle-right-menu .menu-container {
    position: absolute;
    inset: 0;
    display: flex;
}

.toggle-right.toggle-right-menu .menu-container .delete-all-tasks {
    padding: .5em;
}

:is(.delete-all-tasks, .btn-up) {
    width: 50%;
    height: 100%;
    background-color: var(--pink-clr);
}

:is(.delete-all-tasks, .btn-up):active img {
    scale: 1.3;
}

:is(.delete-all-tasks, .btn-up) img {
    display: none;
}

.toggle-right.toggle-right-menu .menu-container img {
    display: block;
}

.btn-up {
    background-color: var(--blue-clr);
}

/* alert clear tasks */
.alert-clear-tasks {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0/50%);
    z-index: 200;
    display: grid;
    place-items: center;
}

.aleart-cart {
    width: min(450px, 90%);
    padding: 1.5em;
    background-color: var(--white-clr);
    display: flex;
    flex-direction: column;
    animation: test 500ms ease-in forwards;
    -webkit-animation: test 500ms ease-in forwards;
    opacity: 0;
    transform: translateY(-100%);
}

@keyframes test {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.aleart-cart p {
    position: relative;
    padding-left: 2em;
    font-weight: bold;
}

.aleart-cart p::before {
    content: url("icons/alert.svg");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btns-alert {
    margin-top: 1em;
    align-self: flex-end;
}

.btns-alert :is(.delete-all, .cancel-delete) {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--orange-clr);
    color: var(--white-clr);
    font-weight: bold;
    padding: .5em;
}

.btns-alert :is(.delete-all, .cancel-delete):hover {
    background-color: var(--orange-clr-hover);
}