@media (max-width:750px) {

    body {
        padding-block: 1.5em;
    }

    header {
        padding: 1em;
    }

    .img-profile {
        width: 40px;
        height: 40px;
    }

    .name-user {
        font-size: 13px;
    }

    .setting {
        width: 20px;
        height: 20px;
    }

    dialog {
        width: 100%;
        height: max-content;
        padding: 1em 0;
    }

    dialog::backdrop {
        background-color: #fff;
    }

    dialog p {
        text-align: start;
    }

    .change-img-profile {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .btns {
        flex-direction: row;
        gap: 1em;
        width: 100%;
    }

    .btn-porofile {
        width: 50%;
    }

    .setting-change-user-name {
        width: 100%;
    }

    .input-change-name,
    .btn-change-user-name {
        width: 50%;
    }

    .container-write-add {
        flex-direction: column;
        gap: 1.5em;
    }

    .write-todo-list,
    .btn-add-tasks {
        width: 100%;
    }

    .write-todo-list input[type="text"] {
        padding: 1em;
    }

    .write-todo-list img {
        right: 1em;
    }

    .add-item,
    .add-item:nth-child(odd) {
        padding: .8em;
        gap: .5em;
        translate: 0;
    }

    .add-item .input-text {
        width: 100%;
    }

    .add-item label span {
        width: 15px;
        height: 15px;
    }

    :is(.edit-button, .delete-button) {
        width: 30px;
    }

    :is(.edit-button, .delete-button) img {
        width: 15px;
    }

    /* disable hover */
    .btn-add-tasks:hover {
        opacity: 1;
    }

    .add-item:hover {
        background-color: var(--white-clr);
    }

    .delete-button:hover {
        background-color: var(--orange-clr);
    }

    .edit-button:hover {
        background-color: var(--green-clr);
    }

    :is(.edit-button, .delete-button):hover::before {
        display: none;
    }
}

@media (max-width:600px) {
    dialog {
        min-height: 100%;
        padding-top: 6em;
    }

    .setting-close {
        top: 1em;
        right: 0;
    }

    .btns {
        flex-direction: column;
    }

    .btn-porofile {
        width: 100%;
    }

    .setting-change-user-name {
        flex-direction: column;
        gap: 2em;
    }

    .input-change-name,
    .btn-change-user-name {
        width: 100%;
    }

    .toggle-right {
        width: 30px;
        height: 30px;
        bottom: -30px;
        left: 50%;
        translate: -50% 0;
    }

    .toggle-right.toggle-right-act {
        bottom: 0;
    }

    .task-timing {
        width: 85px;
    }
}

@media (max-width:479px) {
    body {
        padding: 2em 1em 3em;
    }

    :is(.business, .personal) {
        aspect-ratio: 0;
        font-size: small;
    }

    :is(.business p img, .personal p img) {
        width: 15px;
    }

    .radio-span {
        width: 20px;
    }

    .radio-span::before {
        content: "";
        width: 12px;
    }

/*     .add-tasks {
        --height: 200px;
    } */
}

@media (max-width:300px) {
    body {
        width: 300px;
        overflow-x: hidden;
    }
}
